body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* background-color: #D3D6FF; */
}

nav{
    background-color:#C4C4C4;
    height: 10vh;
    width: 100vw;
    position: sticky;
}

.nav a{
    text-decoration: none;
    color: rgb(29, 26, 26);
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    float: left;
    margin-left: 330px;
    
}
nav a.active{
    background-color: #3D2583;
}
nav a:hover{
    background-color: #333;
}
#home{
    background-image: url(./images/reson.jpg);
    background-size: cover;
    height: 100%;
    background-position: top-center;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
.hometext{
    text-align: center;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
}
span{
    font-weight: bold;
    color: blueviolet;
}
#about{
    justify-content: space-between;
    background-color: #3D2583;
}
.row{
    display: flex;
    justify-content: space-between;
}
#about h1{
    text-align: center;
}
 img{
    max-width: 100%;
    border-radius: 10px;
}

#skills{
    background: url(./images/laptop.png) no-repeat center center / cover ;
    display: flex;
    margin-top: 20px;
    color: blueviolet;
    font-weight: bold;
}
#skills h1{
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row :after{
    display: table;
    clear: both;
    content: "";
}

.card{
    border-style: double;
    justify-content: space-between;
    
}
#contact{
    background-color: #3D2583;
    display: flex;
}
#contact input{
    margin-top: 30px;
    margin-right: 200px;
    padding-left: 100px;
}

.contact-detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
footer{
    background-color: #C4C4C4;
}
@media screen  and (max-width : 600px) {
    .nav{
      display: block;
    }
    #home{
        flex-direction:column;
    }
    #contact{
      flex-direction: column;
    }
    #about{
        flex-direction: column;
    }
    #skills{
        display: block;
    }
}
