body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.nav{
    background-color: #D3D6FF;
    position: fixed;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    float: left;
    margin-left: 330px;
    
}
.nav a.active{
    background-color: #3D2583;
}
.nav a:hover{
    background-color: #C4C4C4;
}
@media screen  and (max-width : 600px) {
    .nav{
      display: block;
    }
}

.homepage{
    text-align: center;
    background-image: url("./images/mootian.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto;
    padding: 10%;
}

#about{
    display: flex;
    justify-content: space-between;
    background-color: #3D2583;
}
.right-column{
  padding-left: 100px;  
}
#about h1{
    text-align: center;
}

#skills{
    background-color: #D3D6FF;
}
#contact{
    background-color: #3D2583;
    display: flex;
}
#contact input{
    margin-top: 30px;
    margin-right: 200px;
    padding-left: 100px;
}
