body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color:#C4C4C4;
    height: 10vh;
    width: 100vw;
    position: sticky;
}

.nav a{
    text-decoration: none;
    color: rgb(29, 26, 26);
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    float: left;
    margin-left: 300px;
    
}
nav a.active{
    background-color: #3D2583;
}
nav a:hover{
    background-color: #333;
}
#home{
    background-image: url("./images/reson.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    color: black;
    z-index: 1;
}
   
.hometext{
    text-align: center;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
}
span{
    font-weight: bold;
    color: blueviolet;
}

#about{
    text-align: center;
    background-color: #3D2583;
    font-size: 20px;
}
.about-section{
    position: relative;
}
.about-text{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0 20px 0 20px;
    font-size: 25px;
    background-color: #3D2583;
    color: white;
}

#skills{
    background: url(./images/laptop.jpeg) no-repeat center center / cover ;
    display: flex;
    color:white;
    font-size: 20px;
    justify-content: space-between;
    
}
.skill h1{
    text-transform: uppercase;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row :after{
    display: table;
    clear: both;
    content: "";
}
.column{
    float: right;
}

.card{
    border-style: double;
    justify-content: space-between;
    background-color: #C4C4C4;
    color: black;
    
}
#contact{
    background-color: #4B4F55;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.container{
    margin: auto;
    padding: 20px;
    justify-content: space-between;
}
input[type=text] textarea{
    margin-top: 6px;
    resize: vertical;
    width: 100%;
    padding: 12px;
    border-style: dotted;
    margin-bottom: 10px;
    border: 2px solid #4B4F55;
}

footer{
    background-color: #C4C4C4;
}
@media screen  and (max-width : 600px) {
    .nav{
      display: block;
    }
    #home{
        flex-direction:column;
    }
    #contact{
      flex-direction: column;
    }
    .container{
        width: 100%;
        margin-top: 0;
    }
    #about{
        flex-direction: column;
    }
    #skills{
        display: block;
    }
}
